header{
    text-align: center;
}

body {
    background-image: url(https://image.freepik.com/free-photo/slate-textured-dark-background_23-2148238443.jpg);
}

.texte {
    color: white;
}

.retour {
    color: white;
}


